* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    background-color: #222831;
    color: white;
    margin-top: auto;
    width: 100%;
    align-items: center;
}

.content_container {
    display: flex;
    margin: 10px;
}

.content_container>div {
    margin: 50px;
}

.content_container .contact_us ul,
.content_container .fean ul,
.content_container .opening_hours ul {
    padding: 0;
  
}

.content_container ul li {
    padding: 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: rgba(255, 255, 255, 0.895);
}

.content_container .contact_us ul li i {
    padding-right: 10px;
    font-size: 1.15rem;
    font-weight: 400;
}

.content_container .contact_us ul .c_title,
.content_container .fean ul .f_title,
.content_container .opening_hours ul .o_title {
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
    margin-right: 20px;
    display: block;
    font-weight: bold;
    font-size: 38px;
    line-height: 1;
    color: #ffffff;
}

.content_container .fean ul li {
    letter-spacing: 0.5px;
}

.fean .socialmedia ul {
    display: flex;
    flex-direction: row;
}

.content_container .fean .socialmedia {
    padding: 20px;
    margin-left: 70px;
}

.content_container .fean .socialmedia ul li i {
    font-size: 25px;
    cursor: pointer;
}

.content_container .fean .socialmedia ul li i:hover {
    color: rgb(255, 194, 80);
}

section .copyright_container {
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

section .copyright_container li {
    padding-bottom: 30px;
}

@media (max-width: 768px) {
    .content_container {
        flex-direction: column;

    }

    .content_container>div {
        margin: 20px 0;

    }

    .content_container .contact_us ul .c_title,
    .content_container .fean ul .f_title,
    .content_container .opening_hours ul .o_title {
        font-size: 28px;

    }
}